.AboutMe {}

.mid-content {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    flex-direction: column;
}

.mobile-mid-content {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
}
