.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.paper-main-mid-content {
  width: 100%;
  text-align: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: column;
}

.mobile-paper-main-mid-content {
  width: 100%;
  text-align: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  flex-direction: column;
}

